nav ul li a{
    display: inline-block; 
    padding: 5px 10px;
    background-color: aquamarine;
    color: brown;
    margin-right: 10px;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

div.line{
    /* width: 700px; */
    height: 4px;
    background-color: skyblue;
}
#area1{
    background-color: #E7D9E8;
}
#area2{
    background-color:#F0E8C2 ;

}

section ol li{
    list-style-type: lower-roman;
}
section ul li{
    list-style-type:  square ;
}